{% if page.sidebar == "income_tax_sidebar" %}
{% assign sidebar = site.data.sidebars.income_tax_sidebar.entries %}

{% else %}
{% assign sidebar = site.data.sidebars.income_tax_sidebar.entries %}
{% endif %}



{% comment %}
sidebar configuration for print files
{% endcomment %}

{% if site.product == "personal_tax" %}
{% assign sidebar_pdf = site.data.sidebars.mydoc_sidebar.entries %}
{% endif %}

{% if site.product == "corporate_tax" %}
{% assign sidebar_pdf = site.data.sidebars.product1_sidebar.entries %}
{% endif %}

